h1 {
  text-align: center; 
  font-size: 4em; 
  font-weight: bolder; 
}

body {
    font-family: fantasy; 
    font-size: 2em; 
    font-weight: bold; 
    background-color: rgb(235, 178, 200); 
    text-shadow: 2px #dddddd
}

button {
    margin: 1cm;
    size: 3cm;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
  }
  
  td, th, input{
    padding: 8px;
    column-width: 3cm; 

  }
  
  tr {
    background-color: #558dce;
    column-width: 2cm; 
  }

  .inputClass {

      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
