body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: skyblue; 
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    column-width: 2cm; 
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    te
    column-width: 2cm; 
  }

  .inputClass {

      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  input {
    width: 3cm;
  }